In [1]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [2]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [3]:
fruits =  ['apple','banana','cherry','mango']
for x in fruits:
    print(x)

apple
banana
cherry
mango

In [4]:
list1=[1,2,3,4,5,6]
for i in list1:
    print(i,end='')

123456

In [5]:
a="123"
for char in a:
    print(char,end='')

123

In [6]:
for x in range(10):
    print(x,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [7]:
for i in range(1,11):
    print(i,end="")

12345678910

In [8]:
for i in range(11,51):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [1]:
items = ['item1', 'item2','item3','item4',]
for i in range(len(items)):
    print("item at index ",i," is:", items[i])

item at index  0  is: item1
item at index  1  is: item2
item at index  2  is: item3
item at index  3  is: item4

In [4]:
def even_odd():
    """check even odd"""
    a= int(input("enter a number"))
    if a%2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [7]:
even_odd()

enter a number 5

The number is odd

In [10]:
def even_odd(a):
    """check even odd"""
   # a= int(input("enter a number"))
    if a%2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [11]:
even_odd(5)

The number is odd

In [12]:
def even_odd2():
    a = int(input("Enter the 1st Number -"))
    b = int(input("Enter the 2nd Number -"))
    s=a+b
    if(s%2==0):
        print("even")
    else:
        print("odd")

In [13]:
even_odd2()

Enter the 1st Number - 2
Enter the 2nd Number - 3

odd

In [14]:
def even_odd2(a,b):
   # a = int(input("Enter the 1st Number -"))
    #b = int(input("Enter the 2nd Number -"))
    s=a+b
    if(s%2==0):
        print("even")
    else:
        print("odd")

In [15]:
even_odd2(2,3)

odd

In [22]:
def fact():
    if n<=0:
        print("No Result")
    elif n == 0:
        print("The factorial is 1")
    elif n>=1:
        fact=1
        for i in range(1,n+1):
            fact=fact*i
    print("The factorial is -",fact)

In [1]:
for i in range(100,1,-2):
    print(i,end='')

1009896949290888684828078767472706866646260585654525048464442403836343230282624222018161412108642

In [2]:
for i in range(12,50,2):
    print(i)

12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [3]:
items = ['item1', 'item2', 'item3','item4']
for i in range(len(items)):
    print("item at index ",i," is: ", items[i])

item at index  0  is:  item1
item at index  1  is:  item2
item at index  2  is:  item3
item at index  3  is:  item4

In [4]:
a=[1,2,3,4]
sum1=0

for i in a:
    sum1=sum1+i

print("sum:",sum1)

sum: 10

In [5]:
a=[1,2,3,4]
sum1=0
for i in a:
    sum1=sum1+i
    print("after",i,"iteration the sum:",sum1)

after 1 iteration the sum: 1
after 2 iteration the sum: 3
after 3 iteration the sum: 6
after 4 iteration the sum: 10

In [6]:
genre = ['pop','rock','poonam', 'priyanka']

for i in range(1):
    print("I like",genre[i])

I like pop

In [7]:
n=int(input("enter the number:"))
for i in range(n):
    print("*",end="")

enter the number: 5

*****

In [8]:
for num in range(1,101):
    if num%5 == 0 and num%7!=0:
        print(num)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95
100

In [9]:
a=int(input('enter multiplication table:'))
for i in range(1,11):
    print(a, '*',i,'=',a*i)

enter multiplication table: 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [10]:
n=int(input("enter the number:"))
for i in range(n):
    for j in range(n+1,):
        print("*",end="")

enter the number: 4

********************

In [1]:
lb=int(input())
ub=int(input())
s=0

for i in range(lb,ub+1):
    if(i%2==0):
        s=s+i
        print(i,end=' ')

print('\nsum is',s)

 5
 6

6
sum is 6

In [2]:
for num in range(1,101):
    if num%5 == 0 and num%7!=0:
        print(num)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95
100

In [3]:
a=int(input('enter multiplication table:'))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

enter multiplication table: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [5]:
class MyClass:
    x = 5

In [6]:
p1 = Myclass()
print(p1.x)

5

In [4]:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = person("poonam", 36)

print(p1.name)
print(p1.age)

poonam
36

In [ ]:
def enter_student_names(num_students):
    student_names = []
    for i in range(num_students):
        name = input("Enter name of student {i+1}:")
        student_names.append(name)
       return student_names